<!--Template file-->
<!--templates/files.html.j2-->
<h1>Index of /</h1>
<hr><pre><a href="{{ url_for('getFiles', reqPath=data['parentFolder']) }}">../</a>
{% for fileObj in data['files'] %}
<a href="{{ url_for('getFiles', reqPath=fileObj['relPath']) }}">{{ fileObj['name'] }}</a>           {{fileObj['mTime']}}              {{fileObj['size']}}
{% endfor %}
</pre><hr>

